@charset "UTF-8";

@media screen and (min-width: 768px) { /*TABLET*/ 
    body {
        background-color: #7616d4;
    }

    main {
        background-color: white;
        width: 900px;
        height: 100%;
        padding: 10px; 
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    header > span#menu-hamburguer {
        display: none;
    }

    header > menu {
        display: block;
        padding-left: 10px;
        padding-bottom: 10px;
    }

    header > menu > ul > li {
        display: inline-block; 
        border: none;
    }

    main {
        width: 500px;
        display: block;
        margin: auto;
    }

    
main> section > img {
    width: 60vw;
    padding-top: 10px;
}
}

@media screen and (min-width: 992px) { /*TELAS MAIORES*/
    
    body {
        background-color: #7616d4;
    }


    main {
        background-color: white;
        height: 100%;  
    }
    
    header > span#menu-hamburguer {
        display: none;
    }

    main > section > img#logo {
        width: 100%;
    }

    header > section > h1 {
        font-size: 4em;
    }

    .formatacaologo {
        font-size: 1.5em;
    }    

    header > menu {
        display: block;
        padding-left: 10px;
        padding-bottom: 10px;
    }

    header > menu > ul > li {
        display: inline-block; 
        border: none;
    }

    main {
        width: 800px;
        display: block;
        margin: auto;
    }

    
main> section > img {
    width: 40vw;
    padding-top: 10px;
}
}